{% extends "General/Admin/Layout/layout.html.twig" %}

{% block contentTitre %}Gestion du menu{% endblock %}

{% block content %}
    <div id="recherche">
        <form action="{{ path('admin_menu_manager') }}" method="post">
            <select name="langue" class="form-elem medium">
                {% for langue in langues %}
                    {% if recherches.langue == langue.code %}
                        <option value="{{ langue.code }}" selected>{{ langue.nom }}</option>
                    {% else %}
                        <option value="{{ langue.code }}">{{ langue.nom }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <button type="submit" name="addRecherche"><i class="fa fa-search"></i></button>
        </form>
    </div>

    {% if menus is not empty %}

        <div class="sortable">

            <!-- parents -->
            <ol class="sortableMenu" data-url="{{ path('admin_menu_manager_update') }}">
                {% for menu in menus %}
                    <li id="menuItem_{{ menu.id }}">
                        <div><p><i class="fa fa-ellipsis-v"></i> {{ menu.titre|raw }}</p> {{ include("Menu/Admin/actions.html.twig",{menu:menu}) }}</div>
                        {% if menu.enfants is defined %}

                            <!-- enfants -->
                            <ol>
                                {% for enfant in menu.enfants %}
                                    <li id="menuItem_{{ enfant.id }}">
                                        <div><p><i class="fa fa-ellipsis-v"></i> {{ enfant.titre|raw }}</p>  {{ include("Menu/Admin/actions.html.twig",{menu:enfant}) }}</div>
                                        {% if enfant.enfants is defined %}

                                            <!-- enfants 2éme niveau -->
                                            <ol>
                                                {% for enfantenfant in enfant.enfants %}
                                                    <li id="menuItem_{{ enfantenfant.id }}">
                                                        <div><p><i class="fa fa-ellipsis-v"></i> {{ enfantenfant.titre|raw }}</p>  {{ include("Menu/Admin/actions.html.twig",{menu:enfantenfant}) }}</div>
                                                    </li>
                                                {% endfor %}
                                            </ol><!-- Fin enfants 2éme niveau -->

                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ol> <!-- Fin enfants -->

                        {% endif %}
                    </li>
                {% endfor %}
            </ol> <!-- Fin parents -->

        </div>

    {% endif %}

{% endblock %}