{% extends "General/Admin/Layout/layout.html.twig" %}

{% block contentTitre %} Ajouter une galerie{% endblock %}

{% block content %}

	{{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}

		{{ form_errors(form) }}
		
		{{ form_label(form.title, "Titre *") }}
		{{ form_errors(form.title) }}
		{{ form_widget(form.title, {'attr': {'class': 'form-elem big'}}) }}

        {{ form_label(form.slug, "Choix du titre dans l'url *") }}
        {{ form_errors(form.slug) }}
        {{ form_widget(form.slug, {'attr': {'class': 'form-elem big'}}) }}
        <div class="form-legende">
            Aprés traitement l'url ressemblera à quelque chose comme : <strong>actualite/je-suis-un-article</strong>
        </div>

        {{ form_label(form.image.url, "Image *") }}
		{{ form_errors(form.image.url) }}
		{{ form_widget(form.image.url, {'attr': {'class': 'form-elem big'}}) }}

        {{ form_label(form.theme, "Théme") }}
        {{ form_errors(form.theme) }}
        {{ form_widget(form.theme, {'attr': {'class': 'form-elem big'}}) }}

        {{ form_label(form.categories, "Catégories") }}
        {{ form_errors(form.categories) }}
        {{ form_widget(form.categories, {'attr': {'class': 'form-elem big select2-multiple'}}) }}

        <div class="form-collection">
            <h3>Format </h3>
            <p class="collection-infos">
            </p>
            <ul class="collection"  data-prototype="{{ form_widget(form.formats.vars.prototype)|e('html_attr') }}">
                {# iterate over each existing tag and render its only field: name #}
                {% for format in form.formats %}
                    <li class="collection-line">{{ form_row(format.title) }}</li>
                {% endfor %}
            </ul>
        </div><br>

        {{ form_label(form.contenu, "Contenu") }}
		{{ form_errors(form.contenu) }}
		{{ form_widget(form.contenu, {'attr': {'class': 'form-elem big'}}) }}

        <br>

        {{ form_widget(form.Enregistrer, {'attr': {'class': 'form-submit medium turquoise'}}) }}

        {{ form_rest(form) }}

	{{ form_end(form) }}
    
{% endblock %}
