<header class="header">

	<div class="headerMobile">
		<span></span>
	</div>

	<a href="{{ path('client_page_index') }}"  title="Accéder au site" target="_blank" class="headerAcces">
		<i class="fa fa-desktop"></i> Afficher mon site
	</a>

	<a href="{{ path('logout') }}" title="Déconnexion" class="headerDeco">
		<i class="fa fa-power-off"></i>
	</a>

	<div class="headerCompte dropDown">
		<p>{{ app.user.nom|first|capitalize }}.{{ app.user.prenom|capitalize }} <i class="fa fa-angle-right"></i></p>

		<div class="headerCompteMenu dropDownMenu shadow">
			<ul>
                <li><a href="{{ path('admin_user_compte_modifier')}}"><i class="fa fa-user"></i> Mes informations</a></li>
				<li><a href="{{ path('logout') }}"><i class="fa fa-power-off"></i> Déconnexion</a></li>
			</ul>
		</div>
	</div>

	<div class="clear"></div>
	
</header>