{% extends "General/Admin/Layout/layout.html.twig" %}

{% block contentTitre %} Ajouter une page{% endblock %}

{% block content %}

	{{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}

		{{ form_errors(form) }}
		
		{{ form_label(form.titre, "Titre *") }}
		{{ form_errors(form.titre) }}
		{{ form_widget(form.titre, {'attr': {'class': 'form-elem big'}}) }}

        {{ form_label(form.slug, "Choix du titre dans l'url *") }}
        {{ form_errors(form.slug) }}
        {{ form_widget(form.slug, {'attr': {'class': 'form-elem big'}}) }}
        <div class="form-legende">
            Aprés traitement l'url ressemblera à quelque chose comme : <strong>actualite/je-suis-un-article</strong>
        </div>

		{{ form_label(form.contenu, "Contenu *") }}
		{{ form_errors(form.contenu) }}
		{{ form_widget(form.contenu, {'attr': {'class': 'tinymce form-elem big wysiwyg'}}) }}

        <br>

        <div class="tabs">
            <ul class="tabsMenu">
                <li><a href="#tabs-1">Référencement *</a></li>
                <li><a href="#tabs-2">Open graph</a></li>
                <li><a href="#tabs-3">Langue *</a></li>
            </ul>

            {{ include("Referencement/Admin/Include/ajouter.html.twig") }}

            <div class="tabsContent" id="tabs-3">
                {{ form_label(form.langue, "Langue *") }}
                {{ form_errors(form.langue) }}
                {{ form_widget(form.langue, {'attr': {'class': 'form-elem big'}}) }}
            </div>
        </div>

        <br>

        {{ form_widget(form.Enregistrer, {'attr': {'class': 'form-submit medium turquoise'}}) }}

        {{ form_rest(form) }}

	{{ form_end(form) }}

{% endblock %}

{% block scriptAfter %}
    <script type="text/javascript">
        tinymce.init({
            selector: ".wysiwyg",
            entity_encoding : "raw",
            encoding: "UTF-8",
            browser_spellcheck : true,
            plugins: "link, lists, paste, code, responsivefilemanager, textcolor, image, media",
            height:"350px",
            menubar : false,
            paste_as_text: true,
            language : 'fr_FR',
            style_formats: [
                {title: 'Titre h2', block: 'h2'},
                {title: 'Titre h3', block: 'h3'},
                {title: 'Titre h4', block: 'h4'}
            ],
            content_css : "{{ asset('js/tinymce/tinymce.css') }}",
            relative_urls: false,
            external_filemanager_path:"{{ asset('js/tinymce/filemanager/')}}",
            filemanager_title:"Gestion des fichiers",
            external_plugins: { "filemanager" : "{{ asset('js/tinymce/filemanager/plugin.min.js') }}"},
            toolbar: "undo redo | bold italic underline forecolor backcolor removeformat | aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect | link image media | code"
        });
    </script>
{% endblock %}


