{% extends "General/Admin/Layout/layout.html.twig" %}

{% block contentTitre %}Gestion des pages{% endblock %}

{% block content %}

	<div id="recherche">
		<form action="{{ path('admin_page_manager') }}" method="post">
            <select name="langue" class="form-elem medium">
                <option value="">Choisir une langue</option>
                {% for langue in langues %}
                    {% if recherches.langue == langue.code %}
                        <option value="{{ langue.code }}" selected>{{ langue.nom }}</option>
                    {% else %}
                        <option value="{{ langue.code }}">{{ langue.nom }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            
			<input type="text" name="recherche" class="form-elem medium" placeholder="Titre" value="{{ recherches.recherche | default('') }}">

			<button type="submit" name="addRecherche"><i class="fa fa-search"></i></button>
		</form>
	</div>

	<table class="table">
		
		<tr>
			<th class="left" width="50%">Page</th>
            <th width="20%">Url</th>
            <th width="15%">Ordre<br>Décroissant</th>
			<th colspan="3" width="15%">Actions</th>
		</tr>

		{% for page in pagination %}
			
			<tr>

				<td class="left">
					<p class="tableDate">Ajouté le {{ page.created|date("d/m/Y à H:i") }}</p>
					{% if page.changed is not null %}
						<p class="tableDate">Modifié le {{ page.changed|date("d/m/Y à H:i") }}</p>
					{% endif %}
					<p><strong>{{ page.titre }}</strong></p>
				</td>

                <td>{{ page.slug }}/{{ page.id }}</td>

                <td>
                    <select name="poid" class="form-poid" data-url="{{ path('admin_page_poid',{'id': page.id})}}">
                        {% for i in 1..200 %}
                            {% if page.poid == i%}
                                <option value="{{ i }}" selected>{{ i }}</option>
                            {% else %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>

				{% if page.isActive == false %}
					<td data-url="{{ path('admin_page_publier',{'id': page.id})}}" class="tablePublucation">
                    	<a href="{{ path('admin_page_publier',{'id': page.id})}}" title="Publication"><i class="tableAction rouge fa fa-check"></i></a>
                    </td>
				{% else %}
					<td data-url="{{ path('admin_page_publier',{'id': page.id})}}" class="tablePublucation">
                    	<a href="{{ path('admin_page_publier',{'id': page.id})}}" title="Publication"><i class="tableAction turquoise fa fa-check"></i></a>
                    </td>
				{% endif %}

				<td>
                    <a href="{{ path('admin_page_modifier',{'id': page.id})}}" title="Modifier la page"><i class=" tableAction fa fa-pencil-alt"></i></a>
                </td>

				<td>
                    <a href="{{ path('admin_page_supprimer',{'id': page.id})}}" class="sweetDelete" title="Supprimer la page" data-title="Supprimer la page" data-text="êtes vous sur ?"><i class=" tableAction fa fa-trash"></i></a>
                </td>
			</tr>

		{% else %}
			<tr>
				<td colspan="6">Aucune page</td>
			</tr>
		{% endfor %}

	</table>

	{# display navigation #}
	<div class="navigation">
	    {{ knp_pagination_render(pagination) }}
	</div>
	
{% endblock %}
