{% extends "General/Admin/Layout/layout.html.twig" %}

{% block contentTitre %}Ajouter un utilisateur{% endblock %}

{% block content %}
	{{ form_start(form, {'attr': {'class': 'form-horizontal', novalidate: 'novalidate'}}) }}

		{{ form_errors(form) }}
		
		{{ form_label(form.nickname, "Surnom *") }}
		{{ form_errors(form.nickname) }}
		{{ form_widget(form.nickname, {'attr': {'class': 'form-elem big'}}) }}

        {{ form_label(form.nom, "Nom *") }}
        {{ form_errors(form.nom) }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-elem big'}}) }}

        {{ form_label(form.prenom, "Prénom *") }}
        {{ form_errors(form.prenom) }}
        {{ form_widget(form.prenom, {'attr': {'class': 'form-elem big'}}) }}

		{{ form_label(form.email, "Email *") }}
		{{ form_errors(form.email) }}
		{{ form_widget(form.email, {'attr': {'class': 'form-elem big'}}) }}

		{{ form_label(form.roles, "Rôles *") }}
		{{ form_errors(form.roles) }}
		{{ form_widget(form.roles, {'attr': {'class': 'form-elem select2-multiple big'}}) }}

		{{ form_label(form.file, "Avatar") }}
		{{ form_errors(form.file) }}
		{{ form_widget(form.file, {'attr': {'class': 'form-elem big'}}) }}
		<div class="form-legende">
			L'image doit faire exactement 150px par 150px<br>Le format doit être (jpg, png)<br>Le poid ne doit pas dépacer 1Mo
		</div>

		{{ form_errors(form.password) }}
		{{ form_widget(form.password) }}

		{{ form_widget(form.Enregistrer, {'attr': {'class': 'form-submit medium turquoise'}}) }}
		
		{{ form_rest(form) }}

	{{ form_end(form) }}
{% endblock %}