{% extends "General/Layout/layout.html.twig" %}

{% block metaTitle %}{{ 'user.client.dashboard.metatitle'|trans }}{% endblock %}

{% block contentTitle %}
    <h1>{{ 'user.client.dashboard.title'|trans }}</h1>
{% endblock %}

{% block content %}
    <a href="{{ path('logout') }}" class="btn" data-btn="{{ 'user.links.deconnexion'|trans }}">{{ 'user.links.deconnexion'|trans }}</a>
{% endblock %}