{% extends "General/Layout/layout.html.twig" %}

{% block metaTitle %}{{ 'inscription.metatitle'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ include("General/Include/breadcrumb.html.twig", {'breadcrumb':breadcrumb }) }}
{% endblock %}

{% block contentTitle %}
	<h1>{{ 'inscription.title'|trans }}</h1>
{% endblock %}

{% block content %}

	{{ form_start(form, {'attr': {'class': 'form-horizontal', novalidate: 'novalidate'}}) }}

		{{ form_errors(form) }}
		
		{{ form_label(form.nickname, 'user.label.nickname'|trans ) }}
		{{ form_errors(form.nickname) }}
		{{ form_widget(form.nickname, {'attr': {'class': 'form-elem big'}}) }}<br>

        {{ form_label(form.nom, 'user.label.nom'|trans ) }}
        {{ form_errors(form.nom) }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-elem big'}}) }}<br>

        {{ form_label(form.prenom, 'user.label.prenom'|trans ) }}
        {{ form_errors(form.prenom) }}
        {{ form_widget(form.prenom, {'attr': {'class': 'form-elem big'}}) }}<br>

		{{ form_label(form.email, 'user.label.email'|trans ) }}
		{{ form_errors(form.email) }}
		{{ form_widget(form.email, {'attr': {'class': 'form-elem big'}}) }}<br>

		{{ form_label(form.file, 'user.label.avatar'|trans ) }}
		{{ form_errors(form.file) }}
		{{ form_widget(form.file, {'attr': {'class': 'form-elem big'}}) }}
		<div class="form-legende">
			{{ 'user.legende.avatar'|trans|raw }}
		</div>

        {{ form_errors(form.password) }}
        {{ form_widget(form.password) }}

        {{ form_widget(form.Enregistrer, {
			'attr' : {'data-btn': 'inscription.label.submit'|trans, 'class' : 'btn' },
			'label' : 'inscription.label.submit'|trans
		}) }}

    {{ form_rest(form) }}

	{{ form_end(form) }}

    <br><p>{{ 'user.links.connexion'|trans }} <a href="{{ path('login') }}">{{ 'user.links.connexionlink'|trans }}</a></p>

{% endblock %}