{% extends "General/Layout/layout.html.twig" %}

{% block metaTitle %}{{ 'reinitialisationpassword.metatitle'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ include("General/Include/breadcrumb.html.twig", {'breadcrumb':breadcrumb }) }}
{% endblock %}

{% block contentTitle %}
    <h1>{{ 'reinitialisationpassword.title'|trans }}</h1>
{% endblock %}

{% block content %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal', novalidate: 'novalidate'}}) }}

        {{ form_errors(form) }}

            {{ form_errors(form.password) }}
            {{ form_widget(form.password) }}

            {{ form_widget(form.Enregistrer, {
                'attr' : {'data-btn': 'reinitialisationpassword.label.submit'|trans, 'class' : 'btn' },
                'label' : 'reinitialisationpassword.label.submit'|trans
            }) }}

        {{ form_rest(form) }}

    {{ form_end(form) }}

{% endblock %}